/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
.idea/laravel_quicktask.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
.idea/workspace.xml
/public/css
/public/js
